@import './common/variables';
@import './common/mediaquery';
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Spartan:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Spartan:wght@700&display=swap');

html {
  font-family: 'Spartan';
  font-weight: $weights-normal;
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  background-color: $neutral-background;
}
