// Mediaquery
$mobile: 375px;
$desktop: 1440px;

// Colors
$primary: hsl(180, 29%, 50%);

$neutral-background: hsl(180, 52%, 96%);
$neutral-filter-tablets: hsl(180, 31%, 95%);
$dark-grayish: hsl(180, 8%, 52%);
$very-dark-grayish: hsl(180, 14%, 20%);

$font-size: 15px;

$weights-normal: 500;
$weights-bold: 700;
